## Markdown Header
## Intro to jupiter 
we can write markdown or python code in our cells. You can choose accordingliy in the dropdown above
### # is used for commenting and """ MATTER """ for multi line commenting

In [1]:
## use Ctrl + Enter to Run the program
a = 10
print(a)

10

## Variables

In [2]:
## class 5 Variable in Python
a = 10
b = 20 
sum = a + b
print(sum) ## when only sum when not "sum"
## it is because we are printing a Variable " " is used for strings
print('sum')

30
sum

## Variable nameing
##### You can't start with digits

In [3]:
#Possible name for variables
# lower case # Uppper case # Digit # _ as wwll
#CORRECT
abc1 = 10
ab_c1 = 2
_abc = 5
#INCORRECT
## 12ae = 2
# we can not start with Digit

## Assigning Different Type of Data To a Variable

In [4]:
a = 10
a = 20
a = "Happy"
a
type(a) ## type of data stored in this variable

str

In [5]:
a = 10
print(type(a))

<class 'int'>

## Python Numbers

In [6]:
a1 = 23
a2 = 3.4
a3 = 4 + 5j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [7]:
a = 10
print(id(a))
a = a + 1
print(id(a))
a

140712177511616
140712177511648

11

In [8]:
a = 10
b = 10
print(id(a))
print(id(b))
## SAME ID ONLY FOR -5 to 256 
# AFTER THAT the ID are different

140712177511616
140712177511616

In [9]:
a = 1000
b = 1000
print(id(a))
print(id(b))

1656063516144
1656063514384

## Arithmatic Operators
## + - * / // ** %

In [10]:
10 + 3

13

In [11]:
10 - 3

7

In [12]:
a = 10
b = 4
a * b

40

In [13]:
## FLOARING point division
a / b

2.5

In [14]:
## INTEGER Division
a//b

2

In [15]:
a**b ## Exponentation

10000

In [16]:
a % b

2

In [17]:
 2 + (3 * 4) # 14 or 20

14

In [18]:
2 * 3 / 4 # does't matter what operation is done first

1.5

In [19]:
2 * 3 // 4

1

In [20]:
(2 * 3) // 4

1

In [21]:
# simple interest
p = 100
r = 12
t = 2
si = p*t*r // 100
print(si)

24

In [22]:
# simple interest
p = 100
r = 12
t = 2
si = (p*t*r)/ 100 ## Recommended to only use this
print(si)

24.0

In [23]:
## fah to celcium conversion
f = 100
c1 = f - 32 * 5/9 ##INCORRECT
c = (f - 32) * 5/9 ##CORRECT
print(c1)
print(c)

82.22222222222223
37.77777777777778

## Taking Inputs

In [24]:
input()

''

In [25]:
a = input()
a

''

In [26]:
a = input()
b = input()
print(type(a))
print(type(b))
s = a + b
print(s)

<class 'str'>
<class 'str'>

In [27]:
b = '34'
c = int(b) ## Converting string into a integer
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>

In [28]:
## simplest way
a = int(input( ))
a
print(a)
print(type(a))

ValueError: invalid literal for int() with base 10: 'we'

In [ ]:
a = int(input())
b = int(input())
print(type(a))
print(type(b))
s = a + b
print(s)

 25
 34

<class 'int'>
<class 'int'>
59

## completed Only some basics let's meet you in 2.