## Booleans

In [2]:
a = True ## T in True must be captial
b = False ## F in the False must be in captial

c = "Ninjas"
c

'Ninjas'

### Relational operators

In [5]:
a = 10
b = 20
print(a>b) # is a is greater than b
print(a<b) # is b is lesser than a
print(a>=b) # is a is greater than or equal to b
print(a<=b) # is a is lesser than b
print(a == b) # is a is exactly equal to b
## Make sure that ==
## Don't confuse with a = b. a = b is assigning
print(a != b)

False
True
False
True
False
True

## Logical operators

## AND

|con1 | con2 | final|
|:----|:-----:|--------:|
|True | True | True|
|True | False | False|
|False | True | False|
|False | False | False|

In [15]:
c1 = a > 10
c2 = b > 10
r1 = c1 and c2 ## AND means both have to be true
r1

False

## OR

|con1   | con2  | final|
|:----- |:-----:|-----:|
|True   | True  | True |
|True   | False | True|
|False  | True  | True|
|False  | False | False|

In [14]:
r2 = c1 or c2
r2

True

## NOT

In [18]:
r3 = not(c1) ## in real c1 is false but here we are using not so it becomes opposite of c1
r3

True

## IF ELSE

In [20]:
a = True
if a:
    print("I am inside if")
else:
    print("I am outside else")

I am inside if

In [24]:
a = True
if a:
    print("I am inside if")
     print("I am inside if") ## ERROR because they are not in same line w.r.t above line
else:
    print("I am outside else")

IndentationError: unexpected indent (3879913326.py, line 4)

In [26]:
## check num to be odd or even
n = int(input())
r = n % 2
is_even = (r == 0)
if is_even:
    print("n is even")
else:
    print("n is odd ")

 456

n is even

In [28]:
## decreasing the above code
n = int(input())
is_even = (r == n % 2)
if is_even:
    print("n is even")
else:
    print("n is odd ")

 54

n is even

In [30]:
## decreasing the above code

n = int(input())
if n % 2 == 0:
    print("n is even")
else:
    print("n is odd ")

 568

n is even

In [32]:
## ony using IF is ok it is not nessasury to use ELSE

In [33]:
## 7. Using relational and logical operators

## Using Operators in if else

In [37]:
a = int(input())
b = int(input())

c1 = a > 10
c2 = b > 10
r = c1 and c2
if r:
    print("Both > 10")
else:
    print("No they are not")

 11
 20

Both > 10

In [40]:
## decreasig the above code
a = int(input())
b = int(input())

if a > 10 and b > 10:
    print("Both are > 10")
else:
    print("No They are not")

 11
 11

Both are > 10

In [41]:
a = int(input())
if a == 7:
    print("it is seven(7)")
else:
    print("no its not ?")

 7

it is seven(7)

In [42]:
##reverse of the above problem
a = int(input())
if a != 7:
    print("it is seven(7)")
else:
    print("no its not ?")

 24

it is seven(7)

## ELIF

In [43]:
## know how to use elif

In [47]:
a = int(input())
b = int(input())
c = int(input())

if a > b and a >  c:
    print(a)
elif b > a and b >c:
    print(b)
else:
    print(c)
## small but in this if we give 3 3 1

 3
 3
 1

1

In [55]:
## finding largest number
a = int(input())
b = int(input())
c = int(input())

if a >= b and a >= c:
    print(a)
elif b >= a and b >= c:
    print(b)
else:
    print(c)
## small but in this if we give 3 3 1

 3
 3
 1

3

In [1]:

n = int(input())
if n > 10:
    print("RED")
elif n >= 5:
    print("GREEN")
elif n > 0:
    print("YELLOW")
else:
    print("NOTHING")

RED

## Nested Condition

## Nested if else

In [2]:
n = int(input())

if n % 2 == 0:
    print("n is even")
    if n == 0:
        print(" n is zero")
else:
    print("n is odd")

n is even
 n is zero

In [8]:
n = int(input())
m = int(input())

if n % 2 == 0: # n is even
    if m % 2 == 0: # m is odd
        print(1) # then print 1
    else:
        print(2) # m is odd and print 2
else:
    print(3) # n and m are oddd then print 3

2

## Loop

## While Loop

In [10]:
n = int(input())
print(f"n value is {n}")
count = 1
while count <= n:
    print(1) 
    ## if you write up to this step only the condition is always true and it prints infinite times
    ## for that we need to incease the count
    count = count + 1

n value is 5
1
1
1
1
1

In [16]:
## print first n natural numbers
n = int(input())
print(f"n value is {n}")
count = 1
while count <= n: 
    print(count )
    count = count + 1

n value is 10
1
2
3
4
5
6
7
8
9
10

## Check Prime

In [18]:
n = int(input())

d = 2
while d< n:
    if(n % d == 0):
        print("n is not prime")
    ## if here use else it is prime then we that is whore case
    d = d + 1
## in this case n is not prime printing 2 times and also if we write 7 it does not printing any thing

In [19]:
n = int(input())

d = 2
flag = False

while d< n:
    if(n % d == 0):
        flag = True
    d = d + 1
if flag:
    print(" not prime ")
else:
    print(" n is prime")

 n is prime

## Nested Loop

In [26]:
n = int(input())

k = 2
while k <= n:
    d = 2
    flag = False
    while d < k:
        if(k % d == 0):
            flag = True
        d = d + 1
    if not(flag):
        print(k)
    k = k + 1

2
3
5
7
11
13
17
19
23